.App {
  text-align: center;

}

h3,h4,p{
  margin: 0px;
}

input{
  box-sizing: border-box;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */



.logout{
  all: unset;
  padding:10px;
  border-radius:10px;

  border: 2px solid black;

  font-size: 20px;
  color:black;
}
.logout:hover{
  color:black;
  background-color: cyan;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.search-input {
  flex: 1;
  font-size: 20px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border: 1px solid #ccc;
  padding: 15px 20px;
  width: 500px;
}

.search-button {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: #61dafb;
  color: #fff;
  font-size: 20px;
  border: 1px solid #61dafb;
  padding:15px 20px;
  cursor: pointer;
}
.search-input:hover,
.search-input:focus,
.search-button:hover,
.search-button:focus {
  outline: none;
  border-color: #0056b3;
}



